*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../Image/background.jfif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.parent{
    margin: 38px 0 38px 140px;
    height: 500px;
    width: 55%;
    border: 1px solid;
    display: flex;
    
}
#child1{
    height: 500px;
    width: 40%;
    border: 1px solid;
    background-color: rgb(39, 0, 255);
    
}
#logHed h2{
    color: white;
    font-size: 30px; 
    
    margin-top: 15px 5px 10px 15px; 
}
#logHed h5{
   
    margin-top: 15px; 
    font-size: 15px; 
       
}
#logHed{
    height: 150px;
    width: 100%;    
    color: white;
    font-size: 15px;   
    padding: 20px;       
}
#logo1{
    position: relative;
    top:150px ;
    left: 65px;
    height: 30%;
    width: 55%;
    background-image: url(../Image/Middal\ Logo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
   
}
#logo{
    position: relative;
    top:150px ;
    left: 75px;
    height: 7%;
    width: 45%;
    background-image: url(../Image/flipkard\ logo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
   
}
#child2{
    height: 500px;
    width:60%;
    border: 1px solid;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
   
    justify-content: space-evenly;           
}
.box{
    height: 35px;
    width: 90%;
   
  
}
h3{
    position: relative;
    bottom: 15px;
    text-align: center;
    margin-right: 30px;
    font-size: 20px;
    color: rgb(126, 119, 119);
}
#login input{
    text-align: center;   
    padding: 10px;
    border: none;
    font-size: 15px;
    color: white;
    background-color: #fb641b;
   
   
}
#otp{
    position: relative;
    bottom: 29px;
    text-align: center;    
    background-color: white;
    box-shadow: 1px 1px 2px black;
   
}
#footer{
    position: relative;
    top: 20px;
    text-align: center;    
    background-color: white;   
}
#forgot{
    position: relative;
    bottom: 38px;
    left: 80%;
}
a{ 
    color: rgb(58, 58, 219);
    font-size: 20px;
   text-decoration: none;
  text-align: center;
}
input{
   width: 100%;   
   border: none;
   outline: none;
   font-size: 15px;
   border-bottom: 1px solid;    
}