* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: radial-gradient(rgba(225, 18, 18, 0.573), pink, green);
}

main {
    width: 50%;
    height: 80vh;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    margin: 50px auto;

}

#child1 {
    background-image: url(../Image/flawer.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.child {

    width: 50%;
}
#child2{
     background-color: rgba(7, 1, 1, 0.753);
       }
 form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;            
    align-items: center;
    justify-content: space-evenly;
   
}

.box2 {
    width: 90%;
}

#heading {
    color: white;
    text-align: center;
}

input {
    width: 90%;
    height: 35px;
    height: 30px;
    color: white;
    outline: none;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    font-size: 15px;
    margin-left: 10px;
    
}

#dob {
    margin-left: 0px;
}
#dob i {
    position: relative;
    right:20px; 
    font-size: 15px;
    color: white;
}

#gender select {
    
    width: 90%;
    height: 30px;
    margin-left: 10px;
    background: none;
    border: none;
    color: gray;
    font-size: 15px;
    border-bottom: 1px solid white;
}


#submit input {
    position: relative;
    width: 35%;
    padding: 5px 5px 5px 5px;
    right: 0%;
    border: none;
    font-size: 15px;
    background-color: rgb(61, 231, 61);
    border-radius: 5px;
    color: white;
}